<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>开发文档</title>
</head>

<link rel="stylesheet" href="/home/css/yunyou.css" type="text/css"  />
<script type="text/javascript" charset="utf-8" src="/home/js/jquery-2.1.4.min.js"></script>

<body style="height: 100%">
<div id="Container">
    <div id="Header">
        <div id="top">
            <div id="top_title">&nbsp;云宿网api开发文档</div>
            <div id="top_daohang">
                <a href="/">首页 </a>&nbsp;&nbsp;
                <a href="/api.php">接口 </a>&nbsp;&nbsp;
                <a href="/edit.php">发布 </a>&nbsp;&nbsp;
                <a href="/tool.php">json解析 </a>&nbsp;&nbsp;
                <a href="/set.php">设置 </a>&nbsp;&nbsp;
            </div>
        </div>
        <div id="Clear"></div>
    </div>

    <!-- 内容开始 -->
    <div id="Content">
        {__CONTENT__}
    </div>
    <!-- 内容结束 -->

    <div class="Clear"></div>
    <div id="Footer" class="footer">
        <div id="bottom">@XXXX科技有限公司</div>
    </div>
</div>

</body>
</html>
