<style>
    th{
        text-align: center;
        height: 30px;
    }
    td{
        height: 31px;
    }
    .sub_inpt{
        margin-bottom: 10px ;
    }
</style>
<div class="con_head"><button class="btnn" ng-click="add()">新增</button></div>
<div>
    <div  style="float: left;width: 60%">
        <div class="lump"  style="margin:0 20px 0 50px">
            <div class="column">所有科目</div>
            <div style="margin: 10px 0px 10px 0px">
                <table class="sub_table" align="center" style="width: 100%;">
                    <tr>
                        <th>序号</th>
                        <th>科目编号</th>
                        <th>科目</th>
                        <th>年级</th>
                        <th>学修类型</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="list in lists">
                        <th>{{$index+1}}</th>
                        <td>sub_{{list.sub_id}}</td>
                        <td>{{list.name}}</td>
                        <td>{{list.grede}}</td>
                        <td>{{list.is_required?'必修':'选修'}}</td>
                        <td>
                            <button class="btnn" ng-click="change(list)">修改</button>
                            <button class="btnn" style="background: orangered" ng-click="del(list.sub_id)">删除</button>
                        </td>
                    </tr>

                </table>
                <div class="row" style="margin: 0px 68px 0px 10px">
                    <div class="col-md-4">
                        <div  style="line-height: 52px;margin:15px 0 0 10px">共<span style="margin: 5px;color: #337ab7;">{{totalItems}}</span>个科目</div>
                    </div>
                    <div align="right" class="col-md-8" >
                        <ul uib-pagination total-items="totalItems" items-per-page="perPageNum"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="setPage(currentPage)"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  style="float: left;width: 40%">
        <div class="lump"  style="margin-right:50px">
            <div id="handler" class="column">操作框 （{{action?'修改科目：sub_'+subj.sub_id:'新增科目'}}）</div>
            <div style="margin: 20px">

                <div class="sub_inpt">
                    <input type="hidden" value="-1" id="subid"/>
                    <label>科目:</label>
                    <input type="text" name="txtName" id="txtName" ng-model="subj.name" required/>
                </div>

                <div class="sub_inpt">
                    <label>学级:</label>
                    <select id="grades" ng-model="subj.grede" style="height: 25px">
                        <option value="小学">小学</option>
                        <option value="初中">初中</option>
                        <option value="高中">高中</option>
                        <option value="大学">大学</option>
                        <option value="公务员">公务员</option>
                        <option value="会计">会计</option>
                        <option value="教师资格">教师资格</option>
                        <option value="计算机">计算机</option>
                        <option value="其他">其他</option>
                    </select>
                </div>

                <div class="sub_inpt">
                    <label>类型:</label>
                    <select id="isRequired" ng-model="subj.is_required" style="height: 25px">
                        <option value="0">选修</option>
                        <option value="1">必修</option>
                    </select>
                </div>

                <div class="sub_inpt" style="margin: 15px 0 0 38px">
                    <input  class="btnn" type="button" ng-show="action==0" ng-click="addSubject()" value="确认新增" />
                    <input  class="btnn" type="button" ng-show="action==1" ng-click="updSubject()" value="确认修改" />
                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


