<link rel="stylesheet" href="dist/css/paper.css">
<div class="con_head">
    <a class="btnn" ng-click="seeDetail(x)" style="text-decoration:none;" href="javascript:volid(0)"  data-reveal-id="myModal">生成试卷</a>
</div>

<div class="g-mn" style="margin:10px 50px 100px 50px">
    <ul class="m-order f-cb">
        <li class="lab">排序</li>
        <li class="item z-sel "><a>最新</a></li>
        <li class="item "><a>最热</a></li>
        <li class="filter">
            <span>共计<strong>{{totalItems}}</strong>套试卷</span>
            <input ng-show="false" type="text" class="u-ipt" placeholder="请输入关键词" id="key" value="">
            <i class="fa fa-search f-csp" id="search-key"></i>
        </li>
    </ul>
    <ul class="m-paper-list">
        <li class="f-cb listItms" ng-repeat="list in lists">
            <div class="img-box">
                <i class="icon icon-word"></i>
            </div>
            <div class="info">
                <h4 class="f-toe"><a target="_blank">{{list.name}}</a></h4>
                <p class="f-toe">
                    <strong>科目：</strong>
                    <span>{{list.subject.name}}</span>
                    <strong>生成时间：</strong>
                    <span>{{list.create_time|date:'yyyy-MM-dd'}}</span>
                </p>
            </div>
            <div class="opt">
                <table>
                    <tr>
                        <td><button class="u-btn green sm radius">{{list.status|paperStatus}}</button></td>
                        <td width="70px"> <button class="u-btn yellow sm radius btn-predownload" ng-click="preview(list)" >预览</button></td>
                        <td>
                            <button class="u-btn primary sm radius" ng-show="list.status==0&&loginUser.user_type==2" ng-click="exam(list)">在线答题</button>
                            <button class="u-btn primary sm radius" ng-show="list.status==2&&loginUser.user_type==1" ng-click="yuejuan(list)">在线阅卷</button>
                            <button class="u-btn primary sm radius" ng-show="list.status==3" ng-click="grade(list)">成绩</button>
                        </td>
                    </tr>
                </table>

            </div>
        </li>
    </ul>

    <div align="right" style="padding-right: 85px">
        <ul uib-pagination total-items="totalItems" items-per-page="perPageNum"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="setPage(currentPage)"></ul>
    </div>

</div>

<!-- ------------------------------------- 显示对话框 -------------------------------- -->
<div id="myModal" class="reveal-modal">

    <div style="font-size: 22px;font-family: 微软雅黑;margin-bottom: 10px">试卷设置</div>
    <div style="margin-bottom: 20px">
        <label class="radius green_bg">{{user.xueduan|xueduan}}</label>
        <label class="radius orangered_bg">总分：{{paper.danxuanNum*paper.duanxuanScore+paper.duoxuanNum*paper.duoxuanScore+paper.puanduanNum*paper.puanduanScore+paper.tiankongNum*paper.tiankongScore+paper.jiedaNum*paper.jiedaScore}}</label>
    </div>

    <div style="margin-top: 30px">
        <label style="font-weight: bold">试卷名称：</label>
        <input ng-model="paper.name" value="{{user.xueduan|xueduan}}-期中测试卷">
    </div>

    <div style="margin: 12px 0 12px 0">
        <label style="font-weight: bold">科目：</label>
        <select ng-model="paper.sub_id"  ng-options="x.sub_id as x.name for x in subs"></select>
    </div>
    <div>
        <label style="font-weight: bold">单选题个数：</label>
        <select ng-model="paper.danxuanNum">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
        <label style="font-weight: bold">分值：</label>
        <select ng-model="paper.duanxuanScore">
            <option value="1">1分</option>
            <option value="2">2分</option>
            <option value="3">3分</option>
            <option value="4">4分</option>
            <option value="5">5分</option>
            <option value="6">6分</option>
        </select>
        <label>{{paper.danxuanNum*paper.duanxuanScore}}分</label>
    </div>
    <div>
        <label style="font-weight: bold">多选题个数：</label>
        <select ng-model="paper.duoxuanNum">
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="10">10</option>
        </select>
        <label style="font-weight: bold">分值：</label>
        <select ng-model="paper.duoxuanScore">
            <option value="1">1分</option>
            <option value="2">2分</option>
            <option value="3">3分</option>
            <option value="4">4分</option>
            <option value="5">5分</option>
            <option value="6">6分</option>
        </select>
        <label>{{paper.duoxuanNum*paper.duoxuanScore}}分</label>
    </div>
    <div>
        <label style="font-weight: bold">判断题个数：</label>
        <select ng-model="paper.puanduanNum">
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        <label style="font-weight: bold">分值：</label>
        <select ng-model="paper.puanduanScore">
            <option value="1">1分</option>
            <option value="2">2分</option>
            <option value="3">3分</option>
            <option value="4">4分</option>
            <option value="5">5分</option>
            <option value="6">6分</option>
        </select>
        <label>{{paper.puanduanNum*paper.puanduanScore}}分</label>
    </div>
    <div>
        <label style="font-weight: bold">填空题个数：</label>
        <select ng-model="paper.tiankongNum">
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="15">20</option>
        </select>
        <label style="font-weight: bold">分值：</label>
        <select ng-model="paper.tiankongScore">
            <option value="1">1分</option>
            <option value="2">2分</option>
            <option value="3">3分</option>
            <option value="4">4分</option>
            <option value="5">5分</option>
            <option value="6">6分</option>
        </select>
        <label>{{paper.tiankongNum*paper.tiankongScore}}分</label>
    </div>
    <div>
        <label style="font-weight: bold">解答题个数：</label>
        <select ng-model="paper.jiedaNum">
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        <label style="font-weight: bold">分值：</label>
        <select ng-model="paper.jiedaScore">
            <option value="1">1分</option>
            <option value="2">2分</option>
            <option value="3">3分</option>
            <option value="4">4分</option>
            <option value="5">5分</option>
            <option value="10">10分</option>
        </select>
        <label>{{paper.jiedaNum*paper.jiedaScore}}分</label>
    </div>
    <div style="margin-top: 40px" align="center">
        <button class="btnn" style="width: 200px" ng-click="bulidPaper()">开始生成</button>
    </div>

    <a class="close-reveal-modal">&#215;</a>
</div>



