<style>
    th{
        text-align: center;
        height: 30px;
    }
    td{
        height: 35px;
    }
    .sub_inpt{
        margin-bottom: 10px ;
    }
</style>
<div class="head_nav">
    <ul class="nav nav-tabs">
        <li id="nav1" ng-class="{'active':tab==1}"  ng-click="showTab(1)" class="active">
            <a  href="javascript:volid(0)">查看试题</a>
        </li>
        <li id="nav2" ng-class="{'active':tab==2}"  ng-click="showTab(2)">
            <a href="javascript:volid(0)">录入试题</a>
        </li>
        <li id="nav3" ng-class="{'active':tab==3}"   ng-click="showTab(3)">
            <a href="javascript:volid(0)">试题统计</a>
        </li >
        <li id="nav4" ng-class="{'active':tab==4}" >
            <a style="cursor:not-allowed;" href="javascript:volid(0)">修改试题</a>
        </li >
        <div class="clear">
        </div>
    </ul>
</div>


<div id="tab1" class="main tab1" ng-show="tab==1">
    <div class="search_bar">
        <label>科目:</label>
        <select  ng-model="model.sub_id" style="height: 25px;margin-right: 20px">
            <option ng-repeat="x in subs" value="{{x.sub_id}}">{{x.name}}</option>
        </select>
        <label>题型:</label>
        <select ng-model="model.type" style="height: 25px;margin-right: 20px">
            <option ng-repeat="x in form.tixing" value="{{x.v}}">{{x.k}}</option>{{x}}
        </select>
        <input ng-model="model.questions" placeholder="Enter keywords" >
        <button class="btnn" ng-click="doSearch()" style="margin-bottom: 5px">查询</button>
    </div>
    <div class="lump">
        <table  align="center" style="width: 100%">

            <tr style="background-color: #f6f6f6">
                <th width="50px">序号</th>
                <th width="100px">试题编号</th>
                <th width="100px">科目</th>
                <th>试题题目</th>
                <th width="80px">题型</th>
                <th width="100px">难度系数</th>
                <th width="150px">录入时间</th>
                <th width="250px">操作</th>
            </tr>
            <tr ng-repeat="x in lists|filter:model">
                <td >{{ $index + 1 }}</td>
                <td >T{{ x.topic_id }}</td>
                <td >{{ x.subject.name }}</td>
                <td style="text-align: left">{{ x.questions }}</td>
                <td >{{ x.type|tixiang }}</td>
                <td >{{ x.difficulty }}</td>
                <td >{{ x.create_time|date:'yyyy-MM-dd HH:mm' }}</td>
                <td >
                    <a class="btnn" ng-click="seeDetail(x)" style="text-decoration:none;" href="javascript:volid(0)"  data-reveal-id="myModal2">详情</a>
                    <button class="btnn" ng-click='updTopic(x)'>修改</button>
                    <button class="btnn" style="background-color: orangered;" ng-click="delTopic(x.topic_id)" >删除</button>
                </td>
            </tr>

        </table>

        <!-- 分页 -->
        <div class="row" style="margin-left: 5px;margin-right: 15px">
            <div class="col-md-6">
                <div  style="line-height: 52px;margin-left: 10px">共<span style="margin: 5px;color: #337ab7;">{{totalItems}}</span>个试题</div>
            </div>
            <div align="right" class="col-md-6">
                <ul uib-pagination total-items="totalItems" items-per-page="perPageNum"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="setPage(currentPage)"></ul>
            </div>
        </div>

        <!-- ------------------------------------- 显示试题的对话框 -------------------------------- -->
        <div id="myModal2" class="reveal-modal">

            <div style="font-size: 22px;font-family: 微软雅黑;margin-bottom: 10px">{{detail.type|tixiang }}题</div>
            <div style="margin-bottom: 20px"><label class="radius yellow_bg">{{detail.subject.grede}}</label> <label class="radius green_bg">{{detail.subject.name}}</label> <label class="radius orangered_bg">{{detail.subject.is_required?'必修':'选修'}}</label></div>

            <div><label style="font-weight: bold">题目：</label>{{detail.questions}}</div>
            <div class="option" style="margin-left: 20px">
                <div ng-show="detail.option.a!=null"><label>A:</label>{{detail.option.a}}</div>
                <div ng-show="detail.option.b!=null"><label>B:</label>{{detail.option.b}}</div>
                <div ng-show="detail.option.c!=null"><label>C:</label>{{detail.option.c}}</div>
                <div ng-show="detail.option.d!=null"><label>D:</label>{{detail.option.d}}</div>
                <div ng-show="detail.option.e!=null"><label>E:</label>{{detail.option.e}}</div>
                <div ng-show="detail.option.f!=null"><label>F:</label>{{detail.option.f}}</div>
            </div>
            <div ng-show="detail.type==2">
                <label style="font-weight: bold">答案：</label><span class="selected" ng-repeat="(k,v) in answer">{{k}}</span>
            </div>
            <div ng-show="detail.type!=2">
                <label style="font-weight: bold">答案：</label><span class="selected">{{detail.answer}}</span>
            </div>

            <a class="close-reveal-modal">&#215;</a>
        </div>


    </div>
</div>

<!-- 试题录入 -->

<div id="tab2" class="main" ng-show="tab==2||tab==4">
    <div class="lump"  style="margin-right:50px">

        <div class="edit_item" style="margin-top: 30px">
            <input type="hidden" value="-1" id="subid"/>
            <label>科目:</label>
            <select ng-model="subId"  ng-options="x.sub_id as x.name for x in subs"></select>
        </div>

        <div class="edit_item">
            <label>题型:</label>
            <select id="tixing" ng-model="tixing">
                <option ng-repeat="x in form.tixing" value="{{x.v}}">{{x.k}}</option>
            </select>
        </div>

        <div class="edit_item">
            <label>题目:</label><br>
            <textarea cols="50" rows="4" style="margin-top: 5px" name="txtName"  ng-model="question" required></textarea>
        </div>

        <!-- 单选 -->
        <div class="edit_item" ng-show="tixing=='1'">
            <div>选项:</div>
            <div>
                <label>A</label><input name="option"  value="" ng-model="option.a" />
                <label>B</label><input name="option"  value="" ng-model="option.b"/>
            </div>
            <div>
                <label>C</label><input name="option"  value="" ng-model="option.c" />
                <label>D</label><input name="option"  value="" ng-model="option.d" />
            </div>
            <div style="margin-top: 15px">
                <span>答案:</span>
                <select  ng-model="answer">
                    <option ng-repeat="x in form.radio" value="{{x.k}}">{{x.k}}</option>
                </select>
            </div>
        </div>

        <!-- 多选 -->
        <div class="edit_item" ng-show="tixing=='2'">
            <div>选项:</div>
            <div>
                <label>A</label><input name="option"  value="" ng-model="option.a" />
                <label>B</label><input name="option"  value="" ng-model="option.b"/>
            </div>
            <div>
                <label>C</label><input name="option"  value="" ng-model="option.c" />
                <label>D</label><input name="option"  value="" ng-model="option.d" />
            </div>
            <div>
                <label>E</label><input name="option"  value="" ng-model="option.e"/>
                <label>F</label><input name="option"  value="" ng-model="option.f"/>
            </div>
            <label>答案:</label>
            <label >A</label><input style="padding-top: 4px;margin-left: 5px;margin-right: 15px" name="check" type="checkbox" ng-model="answer.A"  />
            <label >B</label><input style="padding-top: 4px;margin-left: 5px;margin-right: 15px" name="check" type="checkbox" ng-model="answer.B"  />
            <label >C</label><input style="padding-top: 4px;margin-left: 5px;margin-right: 15px" name="check" type="checkbox" ng-model="answer.C"  />
            <label >D</label><input style="padding-top: 4px;margin-left: 5px;margin-right: 15px" name="check" type="checkbox" ng-model="answer.D"  />
            <label >E</label><input style="padding-top: 4px;margin-left: 5px;margin-right: 15px" name="check" type="checkbox" ng-model="answer.E"  />
            <label >F</label><input style="padding-top: 4px;margin-left: 5px;margin-right: 15px" name="check" type="checkbox" ng-model="answer.F"  />
        </div>

        <!-- 判断题 -->
        <div class="edit_item" ng-show="tixing=='3'">
            <label>答案:</label>
            <label>正确<input name="judge" value="正确" type="radio" ng-checked="answer=='正确'" ng-model="answer"/>{{judge}} </label>
            <label>错误<input name="judge" value="错误" type="radio" ng-checked="answer=='错误'" ng-model="answer" /> </label>
        </div>

        <!-- 填空、解答 -->
        <div class="edit_item" ng-show="tixing=='4'||tixing=='5'">
            <label>答案:</label><br>
            <textarea cols="50" rows="3" type="text" name="txtName" id="answer" ng-model="answer"></textarea>
        </div>

        <div class="edit_item">
            <label>难度系数:</label>
            <select ng-model="difficulty">
                <option ng-repeat="x in form.difficulty" value="{{x.v}}">{{x.k}}</option>
            </select>
        </div>
        <div class="edit_item">
            <input ng-show="tab==2" class="btnn" ng-click="doRecord('add')" type="button" value="确认录入" />
            <input ng-show="tab==4" class="btnn" ng-click="doRecord('upd')" type="button" value="确认修改" />
        </div>
    </div>
</div>


<!-- --------------------------- tab3 -----统计----------------------- -->
<div id="tab3" class="main" ng-show="tab==3">

    <div class="lump" style="overflow: scroll">
        <table  align="center" style="width: 100%">
            <tr style="background-color: #f6f6f6">
                <th width="50px">序号</th>
                <th width="200px">科目</th>
                <th width="100px">单选</th>
                <th width="100px">多选</th>
                <th width="100px">判断</th>
                <th width="100px">填空</th>
                <th width="100px">解答</th>
                <th>全部</th>
            </tr>
            <tr ng-repeat="x in countData">
                <td >{{ $index + 1 }}</td>
                <td >{{ x.subject.name}}</td>
                <td >{{ x.analyze.danxuan_num }}</td>
                <td >{{ x.analyze.duoxuan_num }}</td>
                <td >{{ x.analyze.puanduan_num }}</td>
                <td >{{ x.analyze.tiankong_num}}</td>
                <td >{{ x.analyze.jieda_num}}</td>
                <td >{{ x.analyze.total_num}}</td>
            </tr>

        </table>

    </div>
</div>





