<link rel="stylesheet" href="dist/css/exam.css">
<style>
    .notRightrr{
        background: red;
        color: wheat;
    }
</style>
<div class="g-bd f-cb">
    <div class="g-wrap">
        <div class="f-cb g-box">
            <div class="g-mc f-cb">
                <div class="exam-hd" align="center">
                    <h2>{{paper.name}}<span style="color: #0087ff">（阅卷中...）</span></h2>
                    <div class="f-toep" style="margin: 0">
                        <span>考生：{{paper.user.name}}</span>&nbsp;&nbsp;&nbsp;
                        <span>考试时间：120分钟</span>
                    </div>
                </div>

                <div class="exam-bd f-usn" style="padding: 0">
                    <div class="exam-cnt" ng-repeat="data in datas" style="background: #ffffff">
                        <div class="u-btn yellow btn-detail-save-collection" style="font-weight: bold;width: 100%;text-align: left">
                            {{$index+1|toCh}}、{{data.type_name}}（共{{data.num}}小题）
                        </div>
                        <ul class="f-cb" style="padding: 10px 25px 50px 25px">
                            <li class="item" ng-repeat="test in data.tests">
                                <div class="item-hd f-cb">
                                    <!-- 题目 -->
                                    <div >
                                        {{$index+1}}&nbsp;、&nbsp;{{test.topic.questions}}
                                    </div>

                                    <!-- 单选 -->
                                    <div ng-show="data.type==1">
                                        <div class="option-item "   ng-click="makeAnswer(test.extest_id,'A')">
                                            <span class="index" ng-class="{'active':test.extest_answer=='A'}">A</span>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.a}}</div>
                                        </div>

                                        <div class="option-item " ng-show="data.type==1" ng-click="makeAnswer(test.extest_id,'B')">
                                            <span class="index" ng-class="{'active':test.extest_answer=='B'}">B</span>
                                            <i class="fa fa-fw fa-dot-circle-o"></i>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.b}}</div>
                                        </div>

                                        <div class="option-item "  ng-show="data.type==1" ng-click="makeAnswer(test.extest_id,'C')">
                                            <span class="index" ng-class="{'active':test.extest_answer=='C'}">C</span>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.c}}</div>
                                        </div>

                                        <div class="option-item "  ng-show="data.type==1" ng-click="makeAnswer(test.extest_id,'D')">
                                            <span class="index" ng-class="{'active':test.extest_answer=='D'}">D</span>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.d}}</div>
                                        </div>
                                    </div>

                                    <!-- 多选 -->
                                    <div ng-show="data.type==2">
                                        <div class="option-item " >
                                            <span class="index" ng-class="{'active':test.extest_answer.A}">A</span>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.a}}</div>
                                        </div>

                                        <div class="option-item "  ng-click="makeAnswer(test.extest_id,'B',2)">
                                            <span class="index" ng-class="{'active':test.extest_answer.B}">B</span>
                                            <i class="fa fa-fw fa-dot-circle-o"></i>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.b}}</div>
                                        </div>

                                        <div class="option-item "   ng-click="makeAnswer(test.extest_id,'C',2)">
                                            <span class="index" style="background: red;color: wheat" ng-class="{'active':test.extest_answer.C}">C</span>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.c}}</div>
                                        </div>

                                        <div class="option-item " ng-click="makeAnswer(test.extest_id,'D',2)">
                                            <span class="index" ng-class="{'active':test.extest_answer.D}">D</span>
                                            <div class="f-inline">&nbsp;&nbsp;{{test.topic.option.d}}</div>
                                        </div>
                                    </div>

                                    <!-- 判断 -->
                                    <div ng-show="data.type==3">

                                        <span class="index" ng-class="{'active':test.extest_answer=='1'}" ng-click="makeAnswer(test.extest_id,'1')"></span>
                                        <div class="f-inline" style="margin-right: 25px">&nbsp;&nbsp;正确</div>

                                        <span class="index" ng-class="{'active':test.extest_answer=='0'}" ng-click="makeAnswer(test.extest_id,'0')"></span>
                                        <div class="f-inline">&nbsp;&nbsp;错误</div>
                                    </div>

                                    <!-- 填空、解答 -->
                                    <div ng-show="data.type==4||data.type==5" style="margin-top: 20px">
                                        答：{{test.extest_answer}}
                                    </div>


                                </div>
                                <div class="item-ft" ng-show="test.type!=5">
                                    系统阅：<span ng-class="{'red':!test.is_right,'text-3':test.is_right}" style="margin-right: 35px">{{test.is_right?'已答对':'答错了'}}</span>
                                    得分：<span class="text-3">{{test.is_right?'2':'0'}}</span>
                                </div>

                                <div class="item-ft" ng-show="test.type==5">

                                    人工阅：<span class="text-3" style="margin-right: 35px">
                                        <select>
                                            <option value=""></option>
                                            <option value="">全对</option>
                                            <option value="">部分对</option>
                                            <option value="">全错</option>
                                        </select>
                                    </span>
                                    得分：<span class="text-3">
                                    <select>
                                        <option value="">0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                        <option value="">6</option>
                                        <option value="">7</option>
                                        <option value="">8</option>
                                        <option value="">9</option>
                                        <option value="">10</option>
                                    </select>
                                </span>
                                </div>

                                <!--多选-->
                                <div ng-show="test.type==2" style="margin: 10px 0 0 5px">
                                    参考答案：<span class="text-3">{{test.topic.answer|duoxuan}}{{angular.toJson(test.topic.answer).A}}</span>
                                </div>

                                <!--判断-->
                                <div ng-show="test.type==3" style="margin: 10px 0 0 5px">
                                    参考答案：<span class="text-3">{{test.topic.answer?'正确':'错误'}}</span>
                                </div>

                                <!--单选、填空、解答-->
                                <div ng-show="test.type==1||test.type==4||test.type==5" style="margin: 10px 0 0 5px">
                                    参考答案：<span class="text-3">{{test.topic.answer}}</span>
                                </div>


                            </li>
                        </ul>

                    </div>

                    <div class="exam-ft">
                        <button class="u-btn primary" ng-click="submit()">完成阅卷</button>
                    </div>
                </div>
            </div>


            <div class="pin-wrapper" style="height: 302px;width: 240px; left: 940px; top: 50px; position: fixed;">

                <div style="margin: 25px 0px 0 11px">
                    <button class="u-btn green f-fl btn-predownloads" data-flag="0" onclick="window.history.back()" style="width: 228px"><i class="fa fa-download fa-fw"></i>返回</button>
                </div>

                <div class="g-sd f-cb">
                    <h4 class="f-cb" id="showEndTime">已答对：1</h4>
                    <div  ng-repeat="data in datas">
                        <div style="margin:30px 0 0 15px">{{$index+1|toCh}}、{{data.type_name}}</div>
                        <ul>
                            <li class="index" ng-class="{'active':test.is_right,'z-err':!test.is_right}"  ng-repeat="test in data.tests">1</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>